@import "tailwindcss";
@import "@fontsource-variable/inter";
@import "@fontsource/iosevka-charon-mono";
@import "./theme.css";

body {
  background-color: #151515
}

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-mono: "Iosevka Charon Mono", monospace;
}
