@theme {
  /* Colors */
  --color-background: #0f172a;

  /* Annunciator labels */
  --color-ann-amber: #FDB423;
  --color-ann-yellow: #FFD364;
  --color-ann-cyan: #9AEDFF;
  --color-ann-green: #BCFF85;
  --color-ann-red: #FF5454;
  --color-ann-white: #E9E9E9;

  /* FCU Colors */
  --color-fcu-amber: #edba3a;
  --color-fcu-grey: #212121;
  --background-image-fcu: linear-gradient(
    90deg,
    #85BA52 0%,
    #ACF06B 50%,
    #85BA52 100%
  );
  


}
